// Pre. Import fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Default variable overrides
$body-bg: #0C0B0A;
$body-color: #0C0B0A;
$secondary-color: #CE3900;
$white-color: #fff;

$svg-javascript: #f0d71c80;
$svg-html: #df4e2680;
$svg-css: #254add80;
$svg-react: #64d4f381;
$svg-adobeXd: #45013580;
$svg-eleventy: #21212180;
$svg-gegevens:  #df7b51;

$svg-javascript-hover: #efd61d;
$svg-html-hover: #de4d26;
$svg-css-hover: #254bdd;
$svg-react-hover: #64d5f3;
$svg-adobeXd-hover: #450135;
$svg-eleventy-hover: #212121;
$svg-gegevens-hover:  #df7c51ad;

$font-family-sans-serif: 'Source Sans Pro',
sans-serif;
$headings-font-family: 'Ubuntu',
sans-serif;

$margin-btm-container: 8rem;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/navbar";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here



.container {

    nav {
        background-color: $white-color !important;

        a:hover {
            color: $secondary-color !important ;
        }
    }
    h1, h2, h3, h4 {
        color: $secondary-color;
        margin-bottom: 0.8rem;
    }

    .intro-container {
        margin-bottom: $margin-btm-container;

        .avatar-container {
            .avatar {
                width: 70%;
            }


        }


    }

    .aboutMe-container {
        margin-bottom: $margin-btm-container;

        .aboutMe__text {
            width: 40%;
        }
    }

    .project-container {
        margin-bottom: $margin-btm-container;
    }

    .gegevens-container {
        margin-bottom: $margin-btm-container;

        a {
            color: $body-color;
        }

        .gegevens {
            svg {
                width: 2rem;
                height: 2rem;
                fill: $svg-gegevens;
            }

            svg:hover {
                fill: $svg-gegevens-hover ;
            }
        }

        .socials {

            svg {
                width: 3rem;
                height: 3rem;
                fill: $svg-gegevens;
            }

            svg:hover {
                fill: $svg-gegevens-hover;
            }
        }

    }

    .form-container {
        .btn-form {
            background-color: $secondary-color !important;
        }
    }


    .skills-container {

        margin-bottom: $margin-btm-container;

        .skill {
            svg {
                width: 4rem;
                height: 4rem;
                transition: all 0.4s ease;
            }

            .svg--css {
                fill: $svg-css;
            }

            .svg--css:hover {
                fill: $svg-css-hover;
            }

            .svg--javascript {
                fill: $svg-javascript;
            }

            .svg--javascript:hover {
                fill: $svg-javascript-hover;
            }

            .svg--html {
                fill: $svg-html;
            }

            .svg--html:hover {
                fill: $svg-html-hover;
            }

            .svg--adobeXD {
                fill: $svg-adobeXd;
            }

            .svg--adobeXD:hover {
                fill: $svg-adobeXd-hover;
            }

            .svg--react {
                fill: $svg-react;
            }

            .svg--react:hover {
                fill: $svg-react-hover;
            }

            .svg--eleventy {
                fill: $svg-eleventy;
            }

            .svg--eleventy:hover {
                fill: $svg-eleventy-hover;
            }


        }
    }

    .project-container {
        width: 100%;

        .project__img {

            img {
                object-fit: cover;
                width: 100%;
            }
        }


        .project__text {
            width: 60%;
        }

        .project__link {

            svg {
                width: 2rem;
                height: 2rem;
            }

        }

        .skills {
            color: $secondary-color;
        }
    }

    .to-top__container {
        position: fixed;
        right: 5%;
        bottom: 5rem;
        background-color: $secondary-color;
        color: $body-color;
        border-radius: 50%;
        padding: 0.5rem;
        border: none;


        .to-top__button {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            fill: $body-bg;
            transition: 2s ease;
        }
    }

    .contact-container {
        margin-bottom: $margin-btm-container;
    }
}


   
.footer {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

